<main class="screen">
  <section *ngIf="user" class="auth-panel" aria-labelledby="account-title">
    <img *ngIf="user.pictureUrl" class="avatar" [src]="user.pictureUrl" alt="" />
    <p class="eyebrow">Angemeldet</p>
    <h1 id="account-title">Geschützte Seite</h1>
    <dl class="user-details">
      <div>
        <dt>Vorname</dt>
        <dd>{{ user.firstName }}</dd>
      </div>
      <div>
        <dt>Nachname</dt>
        <dd>{{ user.lastName }}</dd>
      </div>
      <div>
        <dt>E-Mail</dt>
        <dd>{{ user.email }}</dd>
      </div>
    </dl>
  </section>
</main>